body
{
    background: url("images/crossword.png");
    width: 100%;
    border: 5px black solid;
}
header
{
    background: url("images/extra_clean_paper.png");
    width: 100%;
    border: 5px black solid;
}

footer
{
    background: url("images/gplaypattern.png");
    width: 100%;
    border: 5px black solid;
}
h1, h2
{
    text-align: center;
}
p 
{
    text-align: justify;
}

.conteneur
{
    margin: 15px;
    padding: 10px;
}
.entete
{
    width: 30%;
    vertical-align: top;
   
}
.image
{
    width: 20%;
    display: inline-block;
    vertical-align: left;
    
}
.colonne
{
    widht: 30%;
    display: inline-block;
    vertical-align: top;
}
header, h1
{
    color:green;
    text-align: center;
}