header
{
    background: url("images/extra_clean_paper.png");
    background-repeat: no-repeat;
    padding-top: 15px;
}
main
{
    background: url("images/crossword.png");
}
footer
{
    background: url("images/gplaypattern.png");
}
*
{
    font-family: "Garamond";
}
#conteneur
{
    width: 100%;
    max-width: 960px;
    margin: 15px;
    padding: 10px;
}
#souris
{
    width: 150px;
    height: 150px;
    border-radius: 10;   
}
header, h1
{
    color:red;
    text-align: center;
}