body
{
    background: url("images/crossword.png");
    width: 100%;
    border: 5px black solid;
}
header
{
    background: url("images/extra_clean_paper.png");
    width: 100%;
    border: 5px black solid;
}

footer
{
    background: url("images/gplaypattern.png");
    width: 100%;
    border: 5px black solid;
}
h1, h2
{
    padding: 50%;
    text-align: center;
    color: gree;
    min-width: 50%;
}
p 
{
    text-align: justify;
}

.conteneur
{
    margin: 15px;
    padding: 10px;
}
.entete
{
    width: 30%;
    vertical-align: top;
   
}
.image
{
    width: 20%;
    height: 20%;
    display: inline-block;
    border-radius: 15px;
    float: left;
}
.colonne
{
    widht: 30%;
    display: inline-block;
    vertical-align: top;
}
